.card {
  background:#e7c9a9;
  border-radius: 2px;
  margin: 8px;
  position: relative;
  width: 50%;
  text-align: left;
}

.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
}

.more{
  font-size: small;
  text-align: right;
  float: right;;
  color:blue;
}

p.more:hover{color:lightblue;}