.card {
  background:#e7c9a9;
  border-radius: 12px;
  margin: 8px;
  padding:2px 12px 2px 12px;
  position: relative;
  width: 45%;
  text-align: left;
}

.card > .content {
 padding:2px;
}

.cell{
  display:inline-block;
  /* border:1px solid red; */
  width:50%;
}

.biolink{
  font-size: small;
  text-align: right;
  float: right;
  color:blue;
  margin-bottom:0;
}

p.biolink:hover{color:#0000ff88}

body{
  background:#222;

}