.card {
  background:#e7c9a9;
  border-radius: 2px;
  margin: 1rem;
  position: relative;
  width: 40%;
  text-align: left;
  height:120px;
}

.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
}

.card > .content > ul {
  list-style-type: none;
}

.card > .content > ul > li {
  margin-top: 18px;
}

.more{
  font-size: small;
  text-align: right;
  position: absolute;
  bottom:0;
  right:2px ;
}